body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img{
    width: 150px;

}
.card{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background: #bf0603;
    color: white;
    border-bottom: solid #d8cefe;
    border-radius: 2rem;
}
.border-blue{
    border: 1px dotted blue;
}